body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #1D3557;
}

h1 {
  color: #E63946;
  margin: auto;
  text-align: center;
}

p {
  color: #FFF1D6;
  margin: auto;
  text-align: center;
  padding: 1em;
  padding-bottom: 35px;
}

.flex-container {
  display: flex;
  /* border: solid 3px red; */
  height: 350px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-item{
  /* border: solid 3px green; */
  background-color: #457B9D;
  border-radius: 10%;
  width: 250px;
}
